@using FlowerStore.Core.ViewModels.Order
@model OrderEditViewModel

<h2>Edit Order</h2>

<h2>@ViewBag.Title</h2>

<form asp-controller="Order" asp-action="EditOrder" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="@Model.ShippingAddress">Delivery address</label>
        <input asp-for="@Model.ShippingAddress" class="form-control" placeholder="Write your full address" />
        <span asp-validation-for="@Model.ShippingAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.OrderDetails">Order Details (If any)</label>
        <textarea asp-for="@Model.OrderDetails" class="form-control">Write your additional request here (Birthday cards, Giftpack color and etc)</textarea>
    </div>

    <div class="form-group">
        <label asp-for="@Model.PaymentMethodId">Choose payment method</label>
        <select asp-for="@Model.PaymentMethodId" asp-items="@(new SelectList(Model.PaymentMethods, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="@Model.PaymentMethodId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="OrderDetails" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}