@using FlowerStore.Core.ViewModels.Order
@model OrderFormViewModel

@{
    ViewBag.Title = "Fill Your Order Details";
}


<h2>@ViewBag.Title</h2>

<form asp-controller="Order" asp-action="ShippingDetails" method="post">
    <div class="form-group">
        <label asp-for="@Model.ShippingAddress">Delivery address</label>
        <input asp-for="@Model.ShippingAddress" class="form-control" placeholder="Write your full address" />
        <span asp-validation-for="@Model.ShippingAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.OrderDetails">Order Details (If any)</label>
        <textarea asp-for="@Model.OrderDetails" class="form-control">Write your additional request here (Birthday cards, Giftpack color and etc)</textarea>
    </div>

    <div class="form-group">
        <label asp-for="@Model.PaymentMethodId"></label>
        <select asp-for="@Model.PaymentMethodId" asp-items="@(new SelectList(Model.PaymentMethods, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="@Model.PaymentMethodId" class="text-danger"></span>
    </div>

    @* <a asp-controller="Order" asp-action="CreateOrder" class="btn btn-warning btn-lg">Fill shipment details</a> *@
    <button type="submit" class="btn btn-primary">See order details</button>
</form>
