@using FlowerStore.Core.ViewModels.Order
@model IEnumerable<OrderAllViewModel>

@{
    ViewBag.Title = "Order History";
}

<h2 class="text-center my-4">@ViewBag.Title</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        @foreach (var order in Model)
        {
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body">

                        <h5 class="card-title text-center">
                            <strong>Order No.@order.Id</strong>
                        </h5>
                        ------------------------------------------------------
                        <p class="card-text">
                            <strong>User:</strong> @order.UserId<br />
                            <strong>Order Date:</strong> @order.OrderDate.ToString("dd-MM-yyyy")<br />
                            <strong>Total Price:</strong> @order.TotalPrice BGN<br />
                            <strong>Status:</strong> <span class="text-danger">@order.OrderStatus</span><br />
                            <strong>Payment:</strong> @order.PaymentMethod<br />
                        </p>
                    </div>

                    <div class="card-footer d-flex justify-content-between">                       
                        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@order.Id" class="btn btn-sm btn-warning">
                            Details
                        </a>

                        <a asp-area="Admin" asp-controller="Order" asp-action="EditStatus" asp-route-id="@order.Id" class="btn btn-sm btn-primary">
                            Edit Status
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>