@using FlowerStore.Core.ViewModels.User
@model IEnumerable<UserAllViewModel>

@{
    ViewBag.Title = "All Users";
    var currentUserId = ViewBag.CurrentUserId;
}

<div class="container">
    <h2 class="fst-italic text-center mb-4">@ViewBag.Title</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>First and Last Name</th>
                <th>Phone Number</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@(user.Id == currentUserId ? $"{user.Username} (Me)" : user.Username)</td>
                    <td>@user.Email</td>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-userId="@user.Id" class="btn btn-primary btn-sm">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
