@using FlowerStore.Core.ViewModels.Product
@model ProductDetailsViewModel

@{
    ViewBag.Title = "Product Details";
}

<h2 class="text-center">More details of the product: @Model.Name</h2>

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <img src="@Model.ImageUrl" />
            <h3 class="card-title text-center">@Model.Name</h3>
            <p class="mb-0"><span class="fw-bold">Price: </span>@Model.Price BGN</p>
            <p class="mb-0"><span class="fw-bold">Product added on: </span>@Model.DateAdded</p>
            <p class="mb-0"><span class="fw-bold">Availability: </span>@Model.Availability</p>
            <p class="mb-0"><span class="fw-bold">Description: </span>@Model.FullDescription</p>
            <p class="mb-0"><span class="fw-bold">Category: </span>@Model.Category</p>
        </div>

        @if (User.Identity?.IsAuthenticated != false)
        {
            <form method="post" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id">
                <input type="hidden" name="productId" value="@Model.Id" />
                <button type="submit" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Add To Cart</button>
            </form>
        }
        <a asp-controller="Product" asp-action="Catalog" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Back to the Catalog</a>
    </div>
</div>