@using FlowerStore.Core.ViewModels.Product
@model ProductsPaginatedViewModel


<form method="get" asp-area="Admin" asp-controller="Product" asp-action="All" class="d-flex w-25 mb-3">
    <select name="sortOrder" class="form-select me-2" onchange="this.form.submit()">
        <option value="">Sort By:</option>
        <option value="Price Ascending" selected="@(Model.SortOrder == "Price Ascending" ? "selected" : null)">Price: Low to High</option>
        <option value="Price Descending" selected="@(Model.SortOrder == "Price Descending" ? "selected" : null)">Price: High to Low</option>
        <option value="Name Ascending" selected="@(Model.SortOrder == "Name Ascending" ? "selected" : null)">Name: A to Z</option>
        <option value="Name Descending" selected="@(Model.SortOrder == "Name Descending" ? "selected" : null)">Name: Z to A</option> 
        <option value="Quantity Ascending" selected="@(Model.SortOrder == "Quantity Ascending" ? "selected" : null)">Quantity: Low to High</option>
        <option value="Quantity Descending" selected="@(Model.SortOrder == "Quantity Descending" ? "selected" : null)">Quantity: High to Low</option>
    </select>
    <input type="hidden" name="page" value="@Model.CurrentPage" />
</form>