@using FlowerStore.Core.ViewModels.Product
@model ProductAddViewModel

@{
    ViewBag.Title = "Add New Product To Store";
}

<h2 class="text-center fst-italic">@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <hr />

        <form asp-controller="Product" asp-action="Add" asp-area="Admin" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label-add-edit">Flower Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" placeholder="1.00 minimum"/>
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label-add-edit">Image URL</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" placeholder="Valid URL with extension .jpg or .png"/>
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FullDescription" class="form-label-add-edit">Product Description</label>
                <textarea asp-for="@Model.FullDescription" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.FullDescription" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DateAdded" class="form-label-add-edit">Date added</label>
                <input asp-for="@Model.DateAdded" type="date" class="form-control" aria-required="true" placeholder="dd/MM/yyyy HH:mm" )" />
                <span asp-validation-for="@Model.DateAdded" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FlowersCount" class="form-label-add-edit">Quantity of the product</label>
                <input asp-for="@Model.FlowersCount" class="form-control" placeholder="20 max" />
                <span asp-validation-for="@Model.FlowersCount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label-add-edit">Select Category</label>
                <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Category</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Add to store" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}